Service References/FaultServ/FaultService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3728/FaultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="OrderItemHasFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderitemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemHasFaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="OrderItemHasFaultResult" nillable="true" type="q1:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="fault" nillable="true" type="q2:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllFaultsResult" nillable="true" type="q3:ArrayOfFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFault">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetLastFaultResult" nillable="true" type="q4:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="faultId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultByIdResult" nillable="true" type="q5:Fault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="faultId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="FilterResult" nillable="true" type="q6:ArrayOfFault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>