Service References/ReportServ/ReportsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3728/ReportsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3728/ReportsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3728/ReportsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:3728/ReportsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:3728/ReportsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportsService_HighlyRatedItem_InputMessage">
    <wsdl:part name="parameters" element="tns:HighlyRatedItem" />
  </wsdl:message>
  <wsdl:message name="IReportsService_HighlyRatedItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:HighlyRatedItemResponse" />
  </wsdl:message>
  <wsdl:message name="IReportsService_MostPurchasedItem_InputMessage">
    <wsdl:part name="parameters" element="tns:MostPurchasedItem" />
  </wsdl:message>
  <wsdl:message name="IReportsService_MostPurchasedItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostPurchasedItemResponse" />
  </wsdl:message>
  <wsdl:message name="IReportsService_HighestNumberFaults_InputMessage">
    <wsdl:part name="parameters" element="tns:HighestNumberFaults" />
  </wsdl:message>
  <wsdl:message name="IReportsService_HighestNumberFaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:HighestNumberFaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportsService_LowestNumberFaults_InputMessage">
    <wsdl:part name="parameters" element="tns:LowestNumberFaults" />
  </wsdl:message>
  <wsdl:message name="IReportsService_LowestNumberFaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:LowestNumberFaultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportsService">
    <wsdl:operation name="HighlyRatedItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsService/HighlyRatedItem" message="tns:IReportsService_HighlyRatedItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsService/HighlyRatedItemResponse" message="tns:IReportsService_HighlyRatedItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostPurchasedItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsService/MostPurchasedItem" message="tns:IReportsService_MostPurchasedItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsService/MostPurchasedItemResponse" message="tns:IReportsService_MostPurchasedItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HighestNumberFaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsService/HighestNumberFaults" message="tns:IReportsService_HighestNumberFaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsService/HighestNumberFaultsResponse" message="tns:IReportsService_HighestNumberFaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LowestNumberFaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportsService/LowestNumberFaults" message="tns:IReportsService_LowestNumberFaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportsService/LowestNumberFaultsResponse" message="tns:IReportsService_LowestNumberFaults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportsService" type="tns:IReportsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HighlyRatedItem">
      <soap:operation soapAction="http://tempuri.org/IReportsService/HighlyRatedItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostPurchasedItem">
      <soap:operation soapAction="http://tempuri.org/IReportsService/MostPurchasedItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HighestNumberFaults">
      <soap:operation soapAction="http://tempuri.org/IReportsService/HighestNumberFaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LowestNumberFaults">
      <soap:operation soapAction="http://tempuri.org/IReportsService/LowestNumberFaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportsService">
    <wsdl:port name="BasicHttpBinding_IReportsService" binding="tns:BasicHttpBinding_IReportsService">
      <soap:address location="http://localhost:3728/ReportsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>