Service References/FaultTrackServ/FaultTrackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaultTrackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFaultTrackService_GetFaultTracksByFaultId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultTracksByFaultId" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_GetFaultTracksByFaultId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFaultTracksByFaultIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_GetLastFaultTrackByFaultId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastFaultTrackByFaultId" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_GetLastFaultTrackByFaultId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastFaultTrackByFaultIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_AddFaultTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFaultTrack" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_AddFaultTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFaultTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_GetAllFaultTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultTracks" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_GetAllFaultTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFaultTracksResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_Filter_InputMessage">
    <wsdl:part name="parameters" element="tns:Filter" />
  </wsdl:message>
  <wsdl:message name="IFaultTrackService_Filter_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterResponse" />
  </wsdl:message>
  <wsdl:portType name="IFaultTrackService">
    <wsdl:operation name="GetFaultTracksByFaultId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultTrackService/GetFaultTracksByFaultId" message="tns:IFaultTrackService_GetFaultTracksByFaultId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultTrackService/GetFaultTracksByFaultIdResponse" message="tns:IFaultTrackService_GetFaultTracksByFaultId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastFaultTrackByFaultId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultTrackService/GetLastFaultTrackByFaultId" message="tns:IFaultTrackService_GetLastFaultTrackByFaultId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultTrackService/GetLastFaultTrackByFaultIdResponse" message="tns:IFaultTrackService_GetLastFaultTrackByFaultId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFaultTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultTrackService/AddFaultTrack" message="tns:IFaultTrackService_AddFaultTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultTrackService/AddFaultTrackResponse" message="tns:IFaultTrackService_AddFaultTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultTrackService/GetAllFaultTracks" message="tns:IFaultTrackService_GetAllFaultTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultTrackService/GetAllFaultTracksResponse" message="tns:IFaultTrackService_GetAllFaultTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Filter">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultTrackService/Filter" message="tns:IFaultTrackService_Filter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultTrackService/FilterResponse" message="tns:IFaultTrackService_Filter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFaultTrackService" type="tns:IFaultTrackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFaultTracksByFaultId">
      <soap:operation soapAction="http://tempuri.org/IFaultTrackService/GetFaultTracksByFaultId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastFaultTrackByFaultId">
      <soap:operation soapAction="http://tempuri.org/IFaultTrackService/GetLastFaultTrackByFaultId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFaultTrack">
      <soap:operation soapAction="http://tempuri.org/IFaultTrackService/AddFaultTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFaultTracks">
      <soap:operation soapAction="http://tempuri.org/IFaultTrackService/GetAllFaultTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Filter">
      <soap:operation soapAction="http://tempuri.org/IFaultTrackService/Filter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaultTrackService">
    <wsdl:port name="BasicHttpBinding_IFaultTrackService" binding="tns:BasicHttpBinding_IFaultTrackService">
      <soap:address location="http://localhost:3728/FaultTrackService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>