Service References/FaultTrackServ/FaultTrackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3728/FaultTrackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="GetFaultTracksByFaultId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaultTracksByFaultIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetFaultTracksByFaultIdResult" nillable="true" type="q1:ArrayOfFaultTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFaultTrackByFaultId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFaultTrackByFaultIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetLastFaultTrackByFaultIdResult" nillable="true" type="q2:FaultTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="ft" nillable="true" type="q3:FaultTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFaultTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultTracks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFaultTracksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllFaultTracksResult" nillable="true" type="q4:ArrayOfFaultTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="faultId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="FilterResult" nillable="true" type="q5:ArrayOfFaultTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>