Service References/ProductServ/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3728/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3728/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3728/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:3728/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:3728/ProductService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddRate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRate" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllRateOfProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRateOfProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllRateOfProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRateOfProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProductForOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductForOrder" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProductForOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByText" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByTextResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByPriceRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByPriceRange" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByPriceRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByPriceRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByDateListed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByDateListed" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetByDateListed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByDateListedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategory" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProducts" message="tns:IProductService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsResponse" message="tns:IProductService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductById" message="tns:IProductService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductByIdResponse" message="tns:IProductService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddRate" message="tns:IProductService_AddRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddRateResponse" message="tns:IProductService_AddRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRateOfProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllRateOfProduct" message="tns:IProductService_GetAllRateOfProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllRateOfProductResponse" message="tns:IProductService_GetAllRateOfProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductForOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddProductForOrder" message="tns:IProductService_AddProductForOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddProductForOrderResponse" message="tns:IProductService_AddProductForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByText">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetByText" message="tns:IProductService_GetByText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetByTextResponse" message="tns:IProductService_GetByText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByPriceRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetByPriceRange" message="tns:IProductService_GetByPriceRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetByPriceRangeResponse" message="tns:IProductService_GetByPriceRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByDateListed">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetByDateListed" message="tns:IProductService_GetByDateListed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetByDateListedResponse" message="tns:IProductService_GetByDateListed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllCategory" message="tns:IProductService_GetAllCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllCategoryResponse" message="tns:IProductService_GetAllCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRateOfProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllRateOfProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductForOrder">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddProductForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByText">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetByText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPriceRange">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetByPriceRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByDateListed">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetByDateListed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategory">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:3728/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>